/* font-family: 'Leckerli One', cursive;
font-family: 'Itim', cursive;
font-family: 'Graduate', cursive;
font-family: 'Lora', serif;
font-family: 'Tangerine', cursive;
font-family: 'Caveat Brush', cursive;
font-family: 'Scheherazade', serif; */
#Text{
  font-family: 'Lora', serif;
}
